[submodule "urxvt-extensions/urxvt-perls"]
	path = urxvt-extensions/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "urxvt-extensions/urxvt-resize-font"]
	path = urxvt-extensions/urxvt-resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
[submodule "configuration-module-lib"]
	path = configuration-module-lib
	url = https://github.com/usommerl/configuration-module-lib.git
