[submodule "urxvt-extensions/urxvt-perls"]
	path = urxvt-extensions/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "urxvt-extensions/urxvt-resize-font"]
	path = urxvt-extensions/urxvt-resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
[submodule "urxvt-extensions/urxvt-theme-switch"]
	path = urxvt-extensions/urxvt-theme-switch
	url = https://github.com/felixr/urxvt-theme-switch.git
